<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Browser</title>
</head>

<body>
  <h1>
    Write, edit and run HTML, CSS and JavaScript code online.
  </h1>
  <p>
    Our HTML editor updates the webview automatically in real-time as you write code.
  </p>
  {% comment %} <script src="script.js"></script> {% endcomment %}

  <!-- index.html -->
<form action="" method="get">
  <input type="text" name="search" placeholder="Search...">
  <button type="submit">Search</button>
</form>

{% if resources %}
  <ul>
    {% for resource in resources %}
      <li>{{ resource.titre }}</li>
      Description: {{ resource.description }}
      <br>
      Category: {{ resource.categorie_name }}
      <br>
      Location: {{ resource.location_name }}
    {% endfor %}
  </ul>
{% endif %}


</body>

</html>